<script setup lang="ts">
import { useMenuStore } from '~/store/menus'
const props = defineProps <{
  menu: string
}> ()
const menu = useMenuStore()
menu.loadEmpresa(props.menu)
// document.querySelector('body')!.style.backgroundColor = menu.getEmpresa.color_secundario
// const router = useRouter()
</script>

<template>
  <div :style="{ background: menu.getEmpresa.color_secundario }">
    <div v-if="!menu.isLoading" class="flex flex-col min-h-screen">
      <div class="md:mx-auto max-w-screen-lg flex-grow">
        <div class="p-5">
          <!-- <img :src="menu.getEmpresa.logo" alt="..." class=" h-32 mx-auto"> -->
          <img :src="menu.getEmpresa.logo_static" alt="..." class=" h-32 mx-auto">
        </div>
        <p class="text-sm antialiased mb-4">
          {{ menu.getEmpresa.descripcion }}
        </p>

        {{ menu.getEmpresas }}
        <div v-for="categoria in menu.getEmpresa.categorias" :key="categoria.id">
          <div v-if="categoria.platillos.length" class="font-oswald text-4xl mb-4 font-bold" :style="{ color: menu.getEmpresa.color_primario }">
            {{ categoria.descripcion }}
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-2 mb-8 ml-4 mr-4">
            <div v-for="platillo in categoria.platillos" :key="platillo.id" class="p-4 bg-light-300">
              <div class="md:flex md:flex-row">
                <div
                  class="w-full bg-no-repeat bg-cover bg-center w-48 h-48"
                  :style="{ backgroundImage: `url(${platillo.foto})` }"
                />
                <div class="w-full h-min-48 p-4 text-justify">
                  <h1 class="font-oswald text-2xl mb-4 font-bold">
                    {{ platillo.titulo }}
                  </h1>
                  <p class="text-sm mb-6">
                    {{ platillo.descripcion }}
                  </p>
                  <h2 class="font-oswald text-xl font-semibold tracking-widest text-red-600 ">
                    $ {{ platillo.precio }}
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <Footer :color="menu.getEmpresa.color_primario" :contenido="menu.getEmpresa" />
    </div>
  </div>
</template>

<style>
  .font-oswald {
    font-family: Oswald, sans-serif !important;
  }
</style>
