<script setup lang="ts">
// const name = ref('')

// const router = useRouter()
// const go = () => {
//   if (name.value)
//     router.push(`/hi/${encodeURIComponent(name.value)}`)
// }
</script>

<template>
  <div class="mx-auto max-w-screen-lg">
    <div class=" max-w-screen-lg mx-auto p-5">
      <img src="/logo.png" alt="..." class=" h-32 mx-auto">
    </div>

    <div class="p-4">
      <a href="/api/admin/">Acceder a mi Cuenta</a>
    </div>
  </div>    
</template>

<style>
.font-oswald {
    font-family: Oswald, sans-serif !important;
}
</style>
