<script setup lang="ts">
const props = defineProps({
  color: String,
  contenido: String,
})

</script>
<template>
  <div class="text-sm antialiased text-light-300 pt-20" :style="{ background: props.color }">
    <p><span class="text-sm">Whatsapp:</span> {{ props.contenido.telefono }}</p>
    <p v-show="!!props.contenido.direccion">
      <span class="text-sm">Visitanos en:</span> {{ props.contenido.direccion }}
    </p>
    <p class="text-sm antialiased mt-12 mb-12 font-bold">
      <a v-show="!!props.contenido.coordenadas_mapa" target="blank" :href="`http://maps.google.com/maps?q=loc:${props.contenido.coordenadas_mapa}`">Ver Mapa</a>
    </p>
  </div>
</template>
